* {
    box-sizing: border-box;
    cursor: default;
    margin: 0;
}

body {
    background-color: rgba(226,88,96,1);
    background-image: linear-gradient(to bottom right, rgba(223,54,124,0.5), rgba(229,122,68,1));
    color: rgba(234,234,234,1);
    padding-bottom: 3%;
    padding-top: 2%;
}
.hidden{
    display: none;
}
h1 {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 5%;
}
h2{
    text-align: center;
    font-size: 1.5rem;
}
.cardcontainer {    
    display: flex;
    align-content: space-evenly;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 80px;
    column-gap: 25px;
    height: fit-content;
    
}

.hobbypagedetails {
    overflow-y: scroll;
    overscroll-behavior: contain;
}

.card {
    position: relative;    
    min-height: 200px;
    /* border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px; */
    
}
.cardimg {
    object-fit: contain;
}
.detailstoggle {
    position: absolute;
    top: -18px;
    border: none;
    background-color: rgba(0,42,34,1);
    color: rgba(234,234,234,1);
    cursor: pointer;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.tabs {    
    position: absolute;
    top: 0px;
    display: flex;
    align-content: space-evenly;
    justify-content: center;
}
.tabs button.active {
    background-color: rgba(46,28,43);
}
.tablinks {
    flex-grow: 1;
    border-bottom-color: rgba(46,28,43,0.7);
    border-top: none;
    border-left: none;
    border-right: none;
    color: rgba(234,234,234,1);
    background-color: rgba(0,42,34,1);
    cursor: pointer;
}
.cardtext {
    position: absolute;
    top: 20px;
    height: 95.5%;
    overflow: auto;    
    background-color: rgba(9,9,9,0.7);
}
a {
    cursor: pointer;
    color: rgba(234,234,234,1);
}
.scroll {
    overflow-wrap: anywhere;
  }

.cardimg, .cardtext, .hobbypagedetails {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 200px;
  }
.cardimg, .cardtext, .hobbypagedetails, .tabs, .detailstoggle, .card {
    width: clamp(200px, 100%, 600px);
}

.precontent {
    font-family: 'Courier New', Courier, monospace;
}